<div class="entries container">
  <%= form_for @entry do |form| %>
    <%= render partial: 'form', locals: { form: form } %>
    <div class="form-actions">
      <%= form.submit class: "button" %>
    </div>
  <% end %>
</div>
