<div class="about container">
  <p>
    On July 15, 2012, BarCampNOLA launched NOLAvation.com, a user generated website that encourages local, regional and national communities to contribute compelling stories of success, innovation and inspiration regarding New Orleans’ booming technology sector. The site will also chronicle technology milestones via a user friendly, interactive timeline that chronicles the evolution of startups, events and entrepreneurs from 1990 to the present in New Orleans.
  </p>
  <p>
    NOLAvation.com, a fluid and continuously evolving website was produced through the collaborative efforts of New Orleans’ tech community and entrepreneurs during “Hack Day,” the second and final day of 2012 BarCampNOLA.
  </p>
</div>