<div id="timeline-embed"></div>
<script type="text/javascript">
  var height = $(window).height() - $("header").height();
  var timeline_config = {
  width:              "100%",
  height:             height,
  source:             '/timeline.json',
  start_at_end:       true,                          //OPTIONAL START AT LATEST DATE
  start_zoom_adjust:  '3',                            //OPTIONAL TWEAK THE DEFAULT ZOOM LEVEL
  hash_bookmark:      true,                           //OPTIONAL LOCATION BAR HASHES
  font:               'Bevan-PotanoSans',             //OPTIONAL FONT
  lang:               'en',                           //OPTIONAL LANGUAGE
  maptype:            'watercolor',                   //OPTIONAL MAP STYLE
  css: '/assets/vendor/timeline.css',
  js:                 '/assets/vendor/timeline.js'    //OPTIONAL PATH TO JS

  }
  $(window).resize(function(){
    $("#timeline-embed").height($(window).height() - $("header").height());
  });

</script>
