<!doctype html>
<html class="no-js" lang="en">
  <head>
    <%= render partial: 'metadata' %>
  </head>
  <body>
    <%= render partial: 'header' %>

    <div class="wrapper" role="main">
      <!--   <nav class="clearfix">
        <ul>
          <li><a href="#">Timeline</a></li>
          <li><a href="#">Add Story</a></li>
          <li><a href="#">About</a></li>
        </ul>
      </nav> -->

      <%= yield %>
    </div>

    <footer>

    </footer>

    <%= render partial: 'analytics' %>

  </body>
</html>
